<div class="text-center">
    <h2>{{title}}</h2>
    <p>{{{get_emoji}}}</p>
    <p>{{description}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>

    <div>
        <h3>Add a Comment:</h3>
        <form class="add-comment-form">
            <textarea id="comment-content" name="content" placeholder="Write your comment..."></textarea>
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </form>
    </div>
</div>

<script src="/js/comment.js"></script>